:root {
  --line-1: #0052A4;   /* 1호선 (파랑) */
  --line-2: #009D3E;   /* 2호선 (초록) */
  --line-3: #EF7C1C;   /* 3호선 (주황) */
  --line-4: #00A5DE;   /* 4호선 (하늘) */
  --line-5: #996CAC;   /* 5호선 (보라) */
  --line-6: #CD7C2F;   /* 6호선 (갈색) */
  --line-7: #747F00;   /* 7호선 (연두) */
  --line-8: #E6186C;   /* 8호선 (분홍) */
  --line-9: #BDB092;   /* 9호선 (금색/갈색) */
  --line-k: #73C7A6;   /* 공항철도 (청록) */
  --line-su: #003DA5;  /* 수인분당선 */
  --line-ui: #B7C452;  /* 우이신설선 */
  --line-sh: #005CA9;  /* 신분당선 */
  --line-gj: #77C4A3;  /* 경의중앙선 */
  --line-gy: #FDA600;  /* 경의선 */
  --line-gc: #81A914;  /* 경춘선 */
  --peace : #22c55e; /* 적음 */
  --normal : #facc15; /* 보통 */
  --alot : #f97316; /* 많음 */
  --toomuch : #dc2626; /* 너무 많음 */
}